<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beandust Espresso</title>
    <link href="/stylesheets/style.css" rel = "stylesheet" type="text/css">
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      <a href='/mission'>Mission</a>
      <a href='/menu'>Menu</a>
      <a href='/location'>Location</a>
      <a href='/about'>About Us</a>
    </nav>
    <div class='header'>
      <div class='crop'>
        <img src='/img/coffee_home.jpg' alt='#homeimage' />
      </div>
      <h1>Beandust Espresso</h1>
    </div>
    <div class='content'>
      <h2></h2>
      <p id="home-quote">
        "Our customers come first. We want our customers to take part in the adventure as we explore the rainbow of coffee flavors...<br /><br />

        ...Quality coffee farmers are our partners. We form a relationships with farmers we trust and deeply respect for their consistent dedication to excellence"<br /><br />
        <a href='/mission'>Learn More...</a>
      </p>
    </div>
    <div class ='footer'>
      <p>
        Copyright 2017
      </p>
    </div>
  </body>
</html>
