<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beandust Espresso</title>
    <link href="/stylesheets/style.css" rel = "stylesheet" type="text/css">
  </head>
  <body>
      <nav>
      <a href='/'>Home</a>
      <a href='/mission'>Mission</a>
      <a href='/menu'>Menu</a>
      <a href='/location'>Location</a>
      <a href='/about'>About Us</a>
    </nav>
    <div class='header'>
      <div class='crop'>
        <img src='/img/coffee_home.jpg' alt='#homeimage' />
      </div>
      <h1>Beandust Espresso</h1>
    </div>
    <div class='content'>
      <h2>Location:</h2>
      <p id='location-text'>
        401 5th Ave<br />
        <u>Hours:</u><br />
        Monday 4am-11am<br />
        All other days 24hrs
      </p>
      <div id='map'></div>
        <script>
          function initMap() {
          var beanDustEspresso = {lat: 47.622943, lng: -122.348843};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: beanDustEspresso
          });
          var marker = new google.maps.Marker({
            position: beanDustEspresso,
            map: map
          });
        }
      </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMxDx8Q_U2VFyq-K9BminAcauR_EpH6xc&callback=initMap">
      </script>

    </div>
    <div class ='footer'>
      <p>
        Copyright 2017
      </p>
    </div>
  </body>
</html>
