<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beandust Espresso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel = "stylesheet" type="text/css">
  </head>
  <body>
    <nav class='navbar-fixed-top navbar navbar-inverse'>
      <a href='#' class='navbar-left'><img id='beandust-logo' src='/img/Logo.png' alt='#logoimage' /></a>
      <a class='btn btn-primary btn-lg' role='button' href='/'>Home</a>
      <a class='btn btn-primary btn-lg' role='button' href='/mission'>Mission</a>
      <a class='btn btn-primary btn-lg' role='button' href='/menu'>Menu</a>
      <a class='btn btn-primary btn-lg' role='button' href='/location'>Location</a>
      <a class='btn btn-primary btn-lg' role='button' href='/about'>About Us</a>
      <a class='btn btn-primary btn-success btn-lg' role='button' href='/products/index'>Order</a>
    </nav>
    <div class='header'>
      <div class='crop'>
        <img src='/img/coffee2.jpg' alt='#locationimage' />
      </div>
      <h1>Beandust Espresso</h1>
    </div>
    <div class='content'>
      <div class="location">
        <h2>Location:</h2>
        <p id='location-text'>
          401 5th Ave<br />
          <u>Hours:</u><br />
          Monday 4am-11am<br />
          All other days 24hrs
        </p>

        <div id='map'></div>
        <script>
        function initMap() {
          var beanDustEspresso = {lat: 47.622943, lng: -122.348843};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: beanDustEspresso
          });
          var marker = new google.maps.Marker({
            position: beanDustEspresso,
            map: map
          });
        }
        </script>

      </div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMxDx8Q_U2VFyq-K9BminAcauR_EpH6xc&callback=initMap">
      </script>

    </div>
    <div class ='footer'>
      <p>
        Copyright 2017
      </p>
    </div>
  </body>
</html>
